html {

}

body {
    background-color: black;
}

.header {
    width: 100%; /* Во всю ширину */
    height: 38px; /* Примерно 1 см на десктопе (37.8px ≈ 1cm) */
    background-color: #333; /* Тёмный фон для контраста */
    color: white; /* Белый текст */
    display: flex; /* Гибкое размещение элементов */
    justify-content: space-between; /* Распределяет логотип и меню */
    align-items: center; /* Выравнивает по центру вертикально */
    padding: 0 20px; /* Небольшие отступы внутри */
    box-sizing: border-box; /* Учитывает padding в ширине */
    border: 1px solid lightgray; /* Бледно-серый борт по всему периметру */
}

h1 {
    display: flex;
    justify-content: center;
    color: white;  /* Или color: #ffffff; */
}
.main {
    
}

.Warehouse {
    
}
#targetContainer {
    margin-top: 20px;
    border: 1px solid #ccc; /* Лёгкая рамка для контейнера */
    padding: 10px;
}

.new-div {
    width: 200px; /* Ширина */
    height: 100px; /* Высота */
    background-color: lightblue; /* Фон */
    border: 2px solid #333; /* Рамка */
    margin: 10px 0; /* Отступы между div */
    padding: 10px; /* Внутренние отступы */
    color: white; /* Цвет текста */
    font-size: 14px; /* Размер шрифта */
    display: flex; /* Для центрирования текста */
    align-items: center; /* Выравнивание по центру */
    justify-content: center; /* Текст по центру */
}
.my-div.delete-mode {
    border: 2px solid red;
    cursor: pointer;
    background-color: #ffe6e6;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Или другая высота контейнера */
}

.my-div {
    background-color: aliceblue;
}

.shelves-container {
    flex: 1; /* Занимает всю оставшуюся высоту */
    border: 1px solid #ccc; /* Для видимости */
    overflow-y: auto; /* Скролл, если много полок */
    /* height: 20px; */
}

.shelves-container .my-div { /* Полки внутри контейнера */
    /* Стили аналогично стеллажам, но можно подкорректировать */
}

